:root {
  --primary: rgb(54, 54, 255);
  --second: rgb(60, 138, 246);
  ---three: rgb(100, 243, 100);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  position: fixed;
  background: #fff;
  z-index: 99999;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  margin: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  box-shadow: 2px 2px 3px solid var(--primary);
}

.logo {
  display: flex;
}

.logo-content {
  margin-top: 10px;
  display: grid;
  color: var(--primary);
}

.logo-content h1 span {
  color: var(--second);
}

menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

menu a {
  text-decoration: none;
  color: grey;
}

menu a:hover {
  color: var(--second);
}

.bx-search-alt-2 {
  font-size: 20px;
}
.bx-search-alt-2:hover {
  color: var(--second);
}
.checkbox {
  display: none;
}
header #bar-menu {
  background: white;
  display: none;
}
header .bx-menu {
  display: none;
}

.banner {
  display: flex;
  background-image: url("https://plus.unsplash.com/premium_photo-1676325102315-508b432d34c2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  align-items: center;
  filter: grayscale(20%) brightness(80%);
  padding: 20px;
  min-height: 70vh;
}

.conten-banner {
  padding: 10px 9%;
  text-shadow: 4px 2px 0 white;
}
.conten-banner h1 {
  font-size: 30px;
  color: var(--primary);
}
.conten-banner h1 span {
  color: red;
}

.conten-banner h2 {
  color: var(--second);
}

.ABOUT {
  background: white;
  padding: 0 9%;
}

.misi {
  display: flex;
  background: var(--primary);
  padding: 10px;
  color: white;
}

.visi1 {
  width: 400px;
  padding: 10px;
}
.visi2 {
  width: 400px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px;
}
.visi3 {
  width: 300px;
  padding: 10px;
}

.icon {
  justify-content: center;
  display: flex;
  font-size: 30px;
}
.icon a {
  color: white;
}

.certification {
  display: flex;
  justify-content: space-between;
  padding: 10px 9%;
  background: rgb(192, 192, 246);
}
.certificate {
  gap: 5px;
}
.certificate img {
  width: 200px;
  height: 200px;
}

.certificate p {
  padding-top: 20px;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 10px 9%;
  padding-top: 50px;
}

.product-content {
  margin: 10px;
  width: 300px;
}
.product-content h1 {
  text-align: center;
  color: var(--primary);
  font-size: 50px;
  text-shadow: 3px 3px 3px #333;
}
.product-content p {
  background: var(--second);
  color: #fff;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100 300 0 600;
  font-style: italic;
  font-size: large;
  border-radius: 0 25px 0 25px;
}
.slideshow {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.middle {
  position: relative;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.read {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.button {
  width: 100px;
  align-items: center;
  text-align: center;
  background: var(--primary);
  color: #fff;
  border-radius: 25px 25px 25px;
  cursor: pointer;
}

.pro {
  width: 20px;
  height: 10px;
  border: 2px solid var(--second);
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.pro:hover {
  background: var(--primary);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}
#r6:checked ~ .s1 {
  margin-left: -100%;
}
#r7:checked ~ .s1 {
  margin-left: -120%;
}

article {
  display: grid;
  justify-content: center;
}
picture {
  display: grid;
  text-align: center;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.box {
  /* border: 1px solid ; */
  box-shadow: 0px 0px 4px gray;
  transition: transform 3s;
}

.box:hover {
  transform: scale(1.2);
}
.artikel {
  max-width: 300px;
  max-height: 100%;
  /* border-left: 1px solid #333;
  box-shadow: 0px 0px 4px #333; */
  padding: 20px 5%;
  margin: 20px 5%;
  align-items: center;
  justify-content: center;
}

picture img {
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  width: 100%;
  height: 200px;
}

.Aboutus {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
aside {
  height: 200vh;
  background-image: linear-gradient(
      rgba(25, 25, 212, 0.7),
      rgba(253, 253, 253, 0.7)
    ),
    url("company-imag/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  padding: 2%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.tx {
  display: grid;
}

.text1 {
  grid-column: 1/3;
  grid-row: 1/3;
  /* background: green; */
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-family: "poppins", sans-serif;
  animation-name: kiri;
  animation-duration: 5s;
}
.text2 {
  grid-column: 2/4;
  grid-row: 2/4;
  /* background: black; */
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-family: "poppins", sans-serif;
  animation-name: kanan;
  animation-duration: 8s;
}
.text3 {
  grid-column: 1/3;
  grid-row: 3/3;
  /* background: blue; */
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-family: "poppins", sans-serif;
  animation-name: kiri;
  animation-duration: 8s;
}

form {
  padding: 10px 9%;
}
.form {
  border: 1px solid #333;
  box-shadow: 0px 0px 4px #333;
  width: 500px;
  padding: 7px 5%;
  display: grid;
  gap: 20px;
  margin: 20px;
  justify-content: start;
  align-items: center;
}

.data input {
  margin-top: 10px;
  background: #e5e5e5;
  width: 300px;
}

.send input {
  cursor: pointer;
  background: var(--primary);
  color: white;
  width: 200px;
  height: 30px;
}
.topik {
  list-style: none;
  display: grid;
}
.topik select {
  width: 300px;
  background: #e5e5e5;
}

.topik label span {
  color: red;
}

textarea {
}

footer {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--primary);
}
.foter {
  display: grid;
}
.sosmed {
  padding: 10px;
  justify-content: center;
  display: flex;
}
.fa {
  padding: 5px;
  font-size: 10px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

.fa-twitter {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

.fa-google {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

.fa-linkedin {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

.fa-youtube {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

.fa-instagram {
  background: white;
  color: var(--primary);
  border-radius: 50px;
}

@media screen and (max-width: 1440px) {
  .middle {
    top: 20vh;
  }
}

@media screen and (max-width: 1200px) {
  .checkbox {
    display: block;
  }
  .checkbox .bx-menu {
    margin: 10px;
    display: block;
    color: var(--primary);
    font-size: 35px;
    font-weight: bold;
    padding: 0.5px 1.5px;
    cursor: pointer;
  }
  header menu {
    display: block;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0);
  }

  .checkbox #bar-menu:checked ~ header menu {
    clip-path: polygon(0, 0, 100% 0, 100% 100%, 0% 100%);
  }
  .ABOUT {
    max-width: 500px;
  }
  .misi {
    display: grid;
    margin: 10px;
  }
  .visi {
    padding: 10px;
  }

  .visi1 {
    padding: 10px;
  }
  .visi2 {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: none;
    border-left: none;
    padding: 10px;
    margin: 10px;
  }
  .visi3 {
    padding: 10px;
  }

  main {
    display: grid;
  }
  .product-content {
    width: 500px;
  }

  .middle {
    top: 50vh;
  }

  article {
    padding-top: 200px;
  }
  picture {
    grid-template-columns: repeat(2, 1fr);
  }
  .text {
    padding: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .tx {
    display: grid;
  }

  .text1 {
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    animation: none;
  }
  .text2 {
    font-size: 20px;
    grid-column: 2/4;
    grid-row: 1/5;
    animation: none;
  }
  .text3 {
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 2/5;
    animation: none;
  }
  .form {
    border: 1px solid #333;
    box-shadow: 0px 0px 4px #333;
    width: 400px;
    padding: 7px 5%;
    display: grid;
    gap: 10px;
    margin: 10px;
    justify-content: start;
    align-items: center;
  }

  .data input {
    background: rgb(253, 250, 250);
    height: 20px;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  html {
    overflow-y: scroll;
  }
  .misi {
    display: grid;
    gap: 10px;
    margin: 3px;
  }
  .visi {
    padding: 10px;
  }

  .visi1 {
    padding: 0;
  }
  .visi2 {
    padding: 0;
  }

  .visi3 {
    padding: 0;
  }

  .product-content {
    width: 400px;
  }
  .slideshow {
    width: 400px;
  }

  .text {
    padding: 2%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .tx {
    display: grid;
  }

  .text1 {
    font-size: 17px;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
  }
  .text2 {
    font-size: 17px;
    grid-column: 2/4;
    grid-row: 1/5;
  }
  .text3 {
    font-size: 17px;
    grid-column: 1/3;
    grid-row: 2/5;
  }

  picture {
    grid-template-columns: repeat(1, 1fr);
  }

  .form {
    width: 200px;
  }

  .data input {
    height: 20px;
    width: 200px;
  }

  .send input {
    font-size: 10px;
    width: 50px;
  }

  #Topik {
    width: 200px;
  }
}

@media screen and (max-width: 414px) {
  .certification {
    display: grid;
  }

  .product-content {
    width: 300px;
  }
  .slideshow {
    width: 300px;
  }

  .text {
    padding: 2%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .tx {
    display: grid;
  }

  .text1 {
    font-size: 10px;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
  }
  .text2 {
    font-size: 10px;
    grid-column: 1/4;
    grid-row: 2/5;
  }
  .text3 {
    font-size: 10px;
    grid-column: 1/3;
    grid-row: 3/5;
  }
}

@keyframes kiri {
  form {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@keyframes kanan {
  form {
    -moz-transform: translateX(-50%);
    -webkit-animation: translateX(-50%);
  }
  to {
    -moz-transform: translateX(-75%);
    -webkit-animation: translateX(-75%);
  }
}
